
body{
    font-family: 'Noto Sans TC', sans-serif;
    margin:0px;
}

header{
    height:54px;
    margin:auto;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 999;
    background-color:#ffffff;
    overflow: hidden;
}

.navigation{
    width: 1200px;
    height:54px;
    left:0px;
    top:0px;
    display:flex;
    margin:auto;
}

.title{
    width:50%;
    margin:auto;
    color:#448800;
    flex:none;
}

.title a{
    font-weight: 700;
    font-size: 30px;
    color: #448899;
    text-decoration: none;
}

.navbar{
    flex: none;
    width: 50%;
    margin: auto 0;
    text-align: right;
}

.navbar ul li{
    color:#666666;
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    visibility:visible;
    display:none; 
}

.navbar ul li a{
    text-decoration: none;
    color: #666666;   
    
}

.navbar ul li:hover{
    border-bottom: 1px solid #666666;
}


/* Hero Section */
.HeroSection{
    height:320px;
    background: linear-gradient(135deg, #AADDEE, #66AABB);
    overflow: hidden;
    margin-top:54px;
}

.binding{
    margin:auto;
    width:1200px;
    min-width:320px;
    height:inherit;
    min-height:280px;  
    position:relative;
}

.HeroImg{
    position:absolute;
    right:-10.67%;
    z-index: 1;
    max-width: 680px;
    max-height: 320px;

}

.HeroContainer{
    width:95%;
    height:auto;
    margin:auto;
    padding-top:7.1%;
    padding-left: 0.8%;
    position:absolute;
    top:0;
    left:0;
    z-index: 2;
    color:#F8F8F8;
}

.Header1{
    font-size: 28px;
    font-weight: 700;   
    line-height:1.5;
}

.Header2{
    font-size: 16px;
    font-weight: 400;
    line-height:1.5;
}
.inputSearch{
    position: relative;  
    width:50%;
    margin-top:25px;
}

.searchData{
    width: 366px;
    height: 12px;
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
    border: 1px solid #FFFFFF;
    border-radius: 5px 0 0 5px;
    outline:none;
    position: absolute;
    top:0;
    left:0;
}

::placeholder {
    color:#757575;
    font-weight: bold;
}

.searchBtn{
    width: 60px;
    height: 46px;
    background: #448899;
    border: 1px solid #448899;
    color: white;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    position: absolute;
    left:400px;
    outline:none;
    cursor:pointer;
}

.searchBtn img{
    margin:5px auto 3px auto;
}


.PicSection{
    width: 90%;
    max-width: 1200px;
    margin: 55px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.box{
    margin:6.5px;
    width: 270px;
    background-color: #fff;
    border-radius:5px;
    overflow:hidden;
    border: 1px solid #E8E8E8;
}

.image{
    object-fit: cover;
    width:270px;
    vertical-align: bottom;
    height:165px;
}

.boxText{
    margin: 0 10px;
    font-size: 16px;
    color: #757575;
}

.imgTitle{
    margin:13px 0 15px;
    font-weight: bold;
}

.imgInfo{
    display: flex;
    justify-content:space-between;
    margin:auto 0 12px;
    font-weight: 400;
    height:100%;
}

.noData{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    color: #666666;
    text-align: center;
}


/* footer */
footer{
    background-color:#757575;
    display: flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:104px;
}

footer div{
    margin:45px auto;
    color: #fff;
    font-weight: bold;
}

/* popups form */
.popUp{
    display: none;
    position: fixed;
    z-index: 10;
    top: 20vh;
    left: calc((100% - 340px) / 2);
    text-align: center;
    width: 310px;
    background-color: #fff;
    padding: 25px 15px 15px 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 60px #AAAAAA;
}

.popUp span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}

.closeBtn{
    position: absolute;
    top: 27px;
    right: 17px;  
}

.subject{
    text-align: center;
    color: #666666;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 0px;
}

.popUp input{
    display: block;
    width: 280px;
    height:15px;
    font-size: 16px;
    padding: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}

.popBtn{
    display: block;
    width: 100%;
    line-height: 19px;
    font-size: 19px;
    padding: 12px;
    color: #fff;
    background-color: #448899;
    border: 1px solid #448899;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    outline: none;
}

.ErrorMsg, .Msg{
    font-weight: 700;
    color: #448899;
    font-size: 19px;
    margin:0px;
    line-height: 2em;
}

.registerBtn, .loginBtn{
    display: inline-block;
    color: #666;
    text-decoration: none;
    cursor: pointer;
}

.pageShadow{
    z-index: 3;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #808080;;
    opacity: .25;
}

#registerError, #registerDuplicated, #registerDone{
    display: none;
}

#loginError{
    display: none;
}

/* Media Query  */
@media (max-width:1200px){
    .navigation{width:94.5%}
    .navbar ul{padding:0}
    .navbar{width:50%}
    .title{width:50%}
    .HeroSection{height:280px} 
    .HeroImg{
        bottom: 0;
        max-width: 38%; 
        height: auto; 
        left:30%
    };
    .box{width:45%}
    .image{width:100%} 
}

@media (max-width: 600px){
    .HeroContainer{
        width:100%;
        padding-top:5.4%;
        padding-left:1.7%}
    .HeroSection{height:87.5%}
    .searchData{width:230px}
    .searchBtn{left:230px}
    .navbar ul li{margin-right:5px}
    .HeroImg{
        width: 23%;
        bottom: 0;
        left:12.4%;
    }
    .box{width:90%};
    .image{width:100%};
}



.loader {
    width: 50px;
    height: 50px;
    position: relative;
    left: 50%;
    /* position: absolute;
    left: 50%; */
    /* display:none; */
  }
  .loader:after {
    content: " ";
    display: block;
    width: 50px;
    height: 50px;;
    border-radius: 50%;
    border: 6px solid #fdd;
    border-color: #fdd transparent #fdd transparent;
    animation: spin 1.2s infinite linear ;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }