<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset='UTF-8'>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>台北一日遊 - 景點頁</title>
   <link rel="shortcut icon" href="#">
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/attraction.css')}}">
</head>

<body>
   <header>
      <div class="navigation">
         <div class="title"><a href="/">台北一日遊</a></div>
         <div class="navbar">
            <ul>
               <li id='navBooking'><a href="/booking">預定行程</a></li>
               <li id='navLogin'><a onclick="openPopupForm('popUplogin')">登入/註冊</a></li>
               <li id='navLogout'><a onclick="userLogout()">登出系統</a></li>
            </ul>
         </div>
      </div>
   </header>

   <!-- Popups Forms -->
   <div class='popUp' id='popUplogin'>
      <span></span>
      <p class='subject'>登入會員帳號</p>
      <a class='closeBtn' onclick="closePopup(this)"><img src="{{url_for('static', filename='image/icon_close.png')}}" alt='close'/></a>
      <form>
         <input type="text" id='loginEmail' placeholder="輸入電子信箱">
         <input type="password" id='loginPassword' placeholder="輸入密碼" autocomplete="off">
      </form>
      <p class='ErrorMsg' id='loginError'>帳號或密碼輸入錯誤</p>
      <p class='Msg' id='loginResult'></p>
      <button class=popBtn onclick='userLogin()'>登入帳戶</button>
      <a class='registerBtn' onclick='openRegister()'>還沒有帳戶？點此註冊</a>
   </div>

   <div class='popUp' id='popUpRegister'>
      <span></span>
      <p class='subject'>註冊會員帳號</p>
      <a class='closeBtn' onclick="closePopup(this)"><img src="{{url_for('static', filename='image/icon_close.png')}}" alt='close'/></a>
      <form>
         <input type="text" id='registerName' placeholder="輸入姓名">
         <input type="text" id='registerEmail' placeholder="輸入電子信箱">
         <input type="password" id='registerPassword' placeholder="輸入密碼" autocomplete="off">
      </form>   
      <p class='ErrorMsg' id='registerDuplicated'>註冊失敗，此Email已被使用</p>
      <p class='Msg' id='registerResult'></p>
      <button class='popBtn' onclick='newRegister()'>註冊新帳戶</button>
      <a class='loginBtn' onclick="openPopupForm('popUplogin')">已經有帳戶了？點此登入</a>
   </div>
   <div class="pageShadow" onclick="closePopup(this)"></div>
  
<!-- Main Content -->
   <main>
      <div class='maincontainer'>
            <!--upper--> 
               <div class="rotator">
                  <button class="leftArrow" id="leftArrow" onclick=changeImg(-1)><img src="../static/image/btn_leftArrow.svg"></button>
                  <button class="rightArrow" id='rightArrow' onclick=changeImg(1)><img src="../static/image/btn_rightArrow.svg"></button>
                  <div class="pointsGroup">
                  </div>
               </div>
               <div class='profile'>
                  <div class="spotName"></div>
                  <div class="spotBrief"></div>
                  <div class="bookingform">
                     <div class='topic'>訂購導覽行程</div>
                     <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
                     <div>
                        <span>選擇日期：</span><input type="date" required>
                     </div>
                     <div>
                        <span>選擇時間：</span>
                        <input type="radio" class='radioBtn1' id="radio1" value='forenoon' name="time" required />
                        <label class='timebutton' for="forenoon">上半天</label>
                        <input type="radio" class='radioBtn2' id="radio2" value='afternoon' name="time" />
                        <label class='timebutton' for="afternoon">下半天</label>
                     </div>
                     <div style='display:flex'>
                        <span>導覽費用：</span><span id="charge"> 新台幣 2000 元</span>
                     </div>
                     <button class='orderBtn'>開始預訂行程</button>
                  </div>
               </div>
             <!--  -->
            <hr size="1px" width="100%" color="#E8E8E8">
            <div class='spotDetails'>
               <div class="spotDescription"></div>
               <p>景點地址：</p>
               <div class="spotAddress"></div>
               <p>交通方式：</p>
               <div class="spotTransportation"></div>
            </div>
      </div>
   </main>



   <footer>
      <div class='footertext'>COPYRIGHT © 2021 台北一日遊</div>
   </footer>
</body>

<script src="{{url_for('static',filename='js/attraction.js')}}"></script>
</html>