<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset='UTF-8'>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>台北一日遊</title>
   <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='image/favicon.png')}}">
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
</head>

<body>
   <header>
      <div class="navigation">
         <div class="title"><a href="/">台北一日遊</a></div>
         <div class="navbar">
            <ul>
               <li id='navBooking'><a onclick="openBooking()">預定行程</a></li>
               <li id='navLogin'><a onclick="openPopupForm('popUplogin')">登入/註冊</a></li>
               <li id='navLogout'><a onclick="userLogout()">登出系統</a></li>
            </ul>
         </div>
      </div>
   </header>

   <!-- Popups Forms -->
   <div class='popUp' id='popUplogin'>
      <span></span>
      <p class='subject'>登入會員帳號</p>
      <a class='closeBtn' onclick="closePopup(this)"><img src="{{url_for('static', filename='image/icon_close.png')}}" alt='close'/></a>
      <form>
         <input type="email" id='loginEmail' placeholder="輸入電子信箱">
         <input type="password" id='loginPassword' placeholder="輸入密碼" autocomplete="off">
      </form>
      <p class='ErrorMsg' id='loginError'>帳號或密碼輸入錯誤</p>
      <p class='Msg' id='loginResult'></p>
      <button class=popBtn onclick='userLogin()'>登入帳戶</button>
      <a class='registerBtn' onclick='openRegister()'>還沒有帳戶？點此註冊</a>
   </div>

   <div class='popUp' id='popUpRegister'>
      <span></span>
      <p class='subject'>註冊會員帳號</p>
      <a class='closeBtn' onclick="closePopup(this)"><img src="{{url_for('static', filename='image/icon_close.png')}}" alt='close'/></a>
      <form>
         <input type="text" id='registerName' placeholder="輸入姓名">
         <input type="email" id='registerEmail' placeholder="輸入電子信箱">
         <input type="password" id='registerPassword' placeholder="輸入密碼" autocomplete="off">
      </form>   
      <p class='ErrorMsg' id='registerDuplicated'>註冊失敗，此Email已被使用</p>
      <p class='Msg' id='registerResult'></p>
      <button class='popBtn' onclick='newRegister()'>註冊新帳戶</button>
      <a class='loginBtn' onclick="openPopupForm('popUplogin')">已經有帳戶了？點此登入</a>
   </div>
   <div class="pageShadow" onclick="closePopup(this)"></div>
  
   <!-- Hero Section -->
   <section class="HeroSection">
      <div class="binding">
         <div class="HeroContainer">
            <div class="Header1">輕鬆享受台北一日悠閒</div>
            <p class="Header2">探索每個角落，體驗城市的深度旅遊行程</p>

            <form class="inputSearch">
               <input tpye='text' class='searchData' id='wordforsearch' placeholder='輸入景點名稱查詢' required />
               <button type='submit' class='searchBtn' onclick='searchAttraction(event)'><img
                     src="{{url_for('static', filename='image/icon_search.png')}}" alt='search'></button>
            </form>
         </div>
         <img class='HeroImg' src="{{url_for('static', filename='image/welcome1.svg')}}" alt='search'>
      </div>
      </div>
   </section>

   <!-- Attraction Display -->
   <main class="PicSection" id='picSection'>
      <!-- <div class="box">
         <img class='image' src="http://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000848.jpg" alt="">
         <div class="boxText">
            <div class="imgTitle">平安鐘</div>
            <div class="imgInfo">
               <div class="imgMrt">忠孝復興</div>
               <div class="imgCategory">公共藝術</div>
            </div>
         </div>
      </div> -->

   </main>
   <!-- <div class='loader'></div> -->

   <footer>
      <div class='footertext'>COPYRIGHT © 2021 台北一日遊</div>
   </footer>

</body>

<script src="{{url_for('static',filename='js/index.js')}}"></script>

</html>